body,
html {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr auto 1fr;
}

.main {
    grid-row: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(71, 71, 71);
}

.paragraphs-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraphs {
    width: clamp(50px, 50vw, 800px);
    color: rgb(96, 96, 96);
    text-align: center;
    font-size: medium;
    justify-content: center;
}

.info-section-container {
    display: grid;
    justify-content: center;
}

.info-section-email {
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 34px;
}

.info-section-address {
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 10px;
}

.info-section-phone {
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 26px;
}


.info-section-header {
    font-weight: bold;
}

.info-section-content {
}